{% load tags_extra %}

<script src="/static/bootstrap-colorpicker/js/bootstrap-colorpicker.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/bootstrap-colorpicker/css/bootstrap-colorpicker.css" type="text/css" />

<script>

 $(document).ready(function(){
           function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

    $('#cp4').colorpicker().on('changeColor', function(e) {
        $('body')[0].style.backgroundColor = e.color.toHex();
    });

    $('#color_radio_form input').on('change', function() {
        $('body')[0].style.backgroundColor = $('input[name="color_radio"]:checked', '#color_radio_form').val();
    });


            $("#yu_lan").click(function() {
                var background_decorated = $("#article_decorated")[0].style.backgroundColor;
                var body_background_decorated = $('body')[0].style.backgroundColor;
                var article_decorated = $("#article_decorated").html()
                $('#yulan_content').replaceWith(
                       '<div id="yulan_content" style="' + $("#article_decorated")[0].style +'">' +
                        article_decorated +
                        '</div>'
                );
                $('#yulan_content')[0].style.backgroundColor = background_decorated;
                $('#yulan_body')[0].style.backgroundColor = body_background_decorated;

            });

            // Save the page
            $("#she_ding3").click(function() {
                var content = $('#yulan_body');
                var article_title = $("#article_title").html()
                console.log(article_title);
                $.ajax({
                    url: '/articles/publish/',
                    method: "POST",
                    dataType: "json",
                    data: JSON.stringify({'html': content.html(), 'article_title': article_title, 'is_lib_article': 0}),
                    processData: false,
                    contentType: "application/json; charset=UTF-8",
                    beforeSend: function(xhr, request) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function(xdata, status, response){
                    },
                    complete: function(response) {
                        window.location.replace(response.responseText);
                    }
                });
            });
    });

</script>

<div class="container">
    <div class="container">
        <div class="btn-group">
          <button type="button" class="btn btn-danger">修饰页面</button>
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#myModal" data-toggle="modal" data-target="#myModal">背景颜色</a></li>
            <li><a href="#">背景图片</a></li>
            <li><a href="#">背景音乐</a></li>
          </ul>
        </div>
    </div>


              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-body">
                        <span class="label label-pill label-primary">选择预设背景</span>
                        <div>&nbsp;</div>
                        <form id="color_radio_form">
                        <table>
                            <tr>
                                <td style="padding-right: 10px"><input type="radio" name="color_radio" value="#0F7173" /></td>
                                <td bgcolor="#0F7173" width="300px"></td>
                            </tr>
                            <tr>
                                <td><input type="radio" name="color_radio" value="#d8a47f" /></td>
                                <td bgcolor="#D8A47f"></td>
                            </tr>
                            <tr>
                                <td><input type="radio" name="color_radio" value="#ee4b6a" /></td>
                                <td bgcolor="#ee4b6a"></td>
                            </tr>
                            <tr>
                                <td><input type="radio" name="color_radio" value="#fffd82" /></td>
                                <td bgcolor="#fffd82"></td>
                            </tr>
                            <tr>
                                <td><input type="radio" name="color_radio" value="#2d3047" /></td>
                                <td bgcolor="#2d3047"></td>
                            </tr>
                        </table>
                        </form>
                        <div>&nbsp;</div>
                        <span class="label label-pill label-primary">自定义背景色</span>
                        <a href="#" class="btn btn-xs btn-info" id="cp4">调用色盘</a>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                      <button id="she_ding2" type="button" class="btn btn-success" data-dismiss="modal">设定</button>
                    </div>
                  </div>
                </div>
              </div>


              <div class="modal fade" id="modal4" role="dialog">
                <div class="modal-dialog modal-lg">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div id="yulan_body" class="modal-body" style="background-color:#abf2c9;">
                        <div>
                            <div class="jumbotron" style="border:3px solid #87babc;">
                                <!-- article original content -->
                                <div id="yulan_content"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">再调整一下</button>
                      <button id="she_ding3" type="button" class="btn btn-success" data-dismiss="modal">可以了</button>
                    </div>
                  </div>
                </div>
              </div>

    <div class="container">
        <button id="yu_lan" type="button" data-toggle="modal" data-target="#modal4" class="btn btn-success">编辑的差不多了，看看效果</button>
    </div>

    <div id="article_decorated">
        <h2 id="article_title" class="text-center">{{ article_title|safe }}</h2>

            <div class="text-center">
            <span id="article_date" class="text-muted">{% render_date article_date %}</span>
            <span id="article_author" class="text-center">{% render_author article_author %}</span>
            </div>
            <br/>
            <br/>
        <div id="article_body" class="container">
            {{ article_logo_placed }}
        </div>
    </div>

</div>
