<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">                 
                                                                                    
  <head>                                                                            
    <title>欢迎来到 CWGATE.com</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">          
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!--<link rel="icon" type="image/png" href="/static/media/images/favicon.png" /> --><!-- FIXME: favicon needed -->
    <link rel="stylesheet" href="/static/media/css/main.css" type="text/css" />
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/theme/theme.css" rel="stylesheet" type="text/css">
    {% block head_extra %}{% endblock %}
  </head>                                                                           
  <body style="background-color:#abf2c9;">
    <!-- Fixed navbar -->
    <div class="container theme-showcase">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <br/>
      <div class="jumbotron" style="border:3px solid #87babc;">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
