{% extends 'base.html' %}
{% block head_extra %}
    <script type="text/javascript">
            $('#like_it').click(function(){
               var article_id = $('#article_id').val()
               $.ajax({
                    url: '/editor/articles/' + article_id + '/like/',
                    beforeSend: function(xhr, request) {
                    },
                    success: function(xdata, status, response){
                        $('#num_like').replaceWith('<span id="num_like">'
                                                     + xdata
                                                     + '</span>');
                    },
                    complete: function(response) {
                    }
                });
            });
    </script>
{% endblock %}

{% block content %}

<div class="jumbotron">
    {% if is_lib_article == 1 %} 
        {{ edited_article|linebreaks }}
    {% else %}
        {{ edited_article }}
    {% endif %}
</div>

<span class="glyphicon glyphicon-book" aria-hidden="true"></span> &nbsp;{{ article_read }} &nbsp; &nbsp;
<a id="like_it" href='#' class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></a> &nbsp;<span id="num_like">{{ article_like }}</span>
{% endblock %}
