{% extends "base.html" %}

{% block content %}

<h2>Add article</h2>

{% if err %}
Error: {{ err }}
{% endif %}
<form name="articleform" action="{% url 'addarticle' %}" method="post">
{% csrf_token %}
<table cols="2" width="800">
<tr>
    <td><label for="id_category">Category:</label></td>
    <td><select id="id_category" name="category">
    <option value="0" selected>select category</option>
    {% for c in categories %}
    <option value="{{ c.1 }}">{{ c.0 }}</option>
    {% endfor %}
    </select></td>
</tr>
<tr>
    <td><label for="id_author">Author:</label></td>
    <td><input id="id_author" maxlength="200" name="author" type="text" /></td>
</tr>
<tr>
    <td><label for="id_title">Title:</label></td>
    <td><input id="id_title" maxlength="200" name="title" type="text" /></td>
</tr>
<tr>
    <td valign="top"><label for="id_body">Content:</label></td>
    <td><textarea cols="40" id="id_body" name="body" rows="10"></textarea></td>
</tr>
</table>
<input type="submit" value="Add">
</form>

{% endblock %}