textarea {
    resize: none; /* only allow resize vertically */
}


span.test {
    font-size: 30px;
}

.center {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}

#progressBar {
    width: 400px;
    height: 22px;
    border: 1px solid #111;
    background-color: #292929;
}
#progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
}
