textarea {
    resize: none; /* only allow resize vertically */
}


span.test {
    font-size: 30px;
}

.center {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}

#progressBar {
    width: 400px;
    height: 22px;
    border: 1px solid #111;
    background-color: #292929;
}
#progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
}

.wrap_text_main {
    width: 350px;
    margin: 5px;
}

.wrap_text_main .wrap_text_screenshot {
    float: right;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

.number_circle_regular, .number_circle_1, .number_circle_2, .number_circle_3 {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 5px;
    height: 5px;
    padding: 4px;

    background: #fff;
    border: 1px solid #666;
    color: #666;
    text-align: center;

    font: 10px Arial, sans-serif;
}

.number_circle_1 {
    color: #c70039;
}

.number_circle_2 {
    color: #ff5733;
}

.number_circle_3 {
    color: #ffc300;
}

.about_us {
    background-color: #3498db;
}

.about_cwgate {
    background-color: #16a085;
}

.about_advertiser {
    background-color: #27ae60;
}

.center_text {
    text-align: center;
}

span.white_text {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}
